.topBar {
    height: 150px;
    width: auto;
 /*   max-width: 100%;*/
    padding: 0 15px;
    background: black;
    
}
.topBarImg{
    display: flex;
    justify-content: center;
}

.biogra{
    display: flex;
    height: 400;
    width: auto;
}
.biograFoto{
    display: flex;
    float: left;
}
.selfInfo{
    display: flex;
    float: right;
}

.cover {
    display: flex;
    float : left;
    margin : 10px;
    justify-content: space-between;
}

.box {
    
 /*   text-align: center;*/
    vertical-align: middle;
    border: 1px solid gray;
    display: table-cell;
    
}

.container {
    display: flex;
    height: 350px;
    width: auto;
    vertical-align: middle;
    
}
